<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tominc.prustyapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MEDIA_CONTENT_CONTROL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- <grant-uri-permission -->
    <!-- android:path="string" -->
    <!-- android:pathPattern="string" -->
    <!-- android:pathPrefix="string" /> -->
    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AddProductActivity"
            android:label="Add">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".CoordinationActivity" />
        <activity
            android:name=".ShowProductActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.quad.com"
                    android:pathPrefix="/product"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".ProfileActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity android:name=".activities.FullScreenSliderActivity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".food" />
        <activity android:name=".clothes" />
        <activity android:name=".fashion" />
        <activity android:name=".electronics" />
        <activity android:name=".models.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Aboutus" />
        <activity android:name=".password"></activity>
    </application>

</manifest>